.container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  font-family: sans-serif;
  text-align: center;
}

.buttons button {
  margin: 10px;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.question {
  margin-bottom: 20px;
}

.stats, .history {
  margin-top: 20px;
}

.previous {
  text-align: left;
  background: #454343;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}